*{
    margin: 0;
}
.chat{
    flex:0.65;
  display: flex;
  flex-direction: column;
}

.chatHeader{
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid lightgray;
}
.chatHeaderInfo{
    flex: 1;
    margin-left: 10px;
}

.chatBody{
    flex: 1;
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    padding:30px;
    overflow: scroll;
    display: flex;
   flex-direction: column;
}

.chatMessage{
    position: relative;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 30px;
}
.chatName{
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
}

.timestamp{
    margin-left: 10px;
    font-size: xx-small;
}

.chatReceiver{
    margin-left: auto;
    background-color: #dcf8c6;
    width: fit-content;
}

.chatFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 62px;
    margin-bottom: 10px;
    border-top: 1px solid lightgray;
}

form{
    display: flex;
    width: 95%;
}
form input{
    width: 100%;
    /* border: none; */
    outline-width: 0;
    border-radius: 30px;
    padding: 5px;
}